{cover_enabled, true}.
{cover_print_enabled, true}.

{deps, [
    {lager, "2.0.3",
        {git, "https://github.com/basho/lager.git", {tag, "2.0.3"}}},
    {cowboy, "1.0.3",
        {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.3"}}},
    {edown, ".*",
        {git, "https://github.com/uwiger/edown.git", {tag, "0.7"}}},
    {jiffy, "0.14.2",
        {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.2"}}},
    {parse_trans, "2.9.2",
        {git, "https://github.com/uwiger/parse_trans.git", {tag, "2.9.2"}}},
    {reconnaissance, "1",
        {git, "https://github.com/wooga/reconnaissance.git", "110b044514"}},
    {resource_discovery, "0.2.1.0",
        {git, "https://github.com/lpgauth/resource_discovery.git", {branch, "ms"}}},
    {timing, "0.1.0",
        {git, "https://github.com/lpgauth/timing.git", {tag, "0.1.0"}}}
]}.

{edoc_opts, [
  {app_default, "http://www.erlang.org/doc/man"},
  {doclet, edown_doclet},
  {image, ""},
  {includes, ["include"]},
  {preprocess, true},
  {stylesheet, ""},
  {title, "ms_base"}
]}.

{erl_opts, [
    debug_info,
    % warnings_as_errors,
    warn_export_all,
    warn_export_vars,
    warn_missing_spec,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_untyped_record,
    warn_unused_import,
    warn_unused_vars,
    {parse_transform, lager_transform}
]}.

{xref_checks, [
    deprecated_functions,
    deprecated_function_calls,
    locals_not_used,
    undefined_functions,
    undefined_function_calls
]}.
